<h1>Welcome to the article home page</h1>
<h2>Articles listing page</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
            <th>Created</th>
            <th>Last Updated</th>
        </tr>
    </thead>

    <tbody>
        <%= @articles.each do |article| %>
            <tr>
                <td><%= article.id %></td>
                <td><%= article.title %></td>
                <td><%= article.description %></td>
                <td><%= article.created_at %></td>
                <td><%= article.updated_at %></td>
                <td>Placeholder</td>
            </tr>
        <% end %>
    </tbody>

</table>